body {
  color: #fff;
  background-color: #000;
}
#stats {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
#_frame-counter {
  position: absolute;
  left: 5px;
  bottom: 0px;
  z-index: 100;
  font-size: 30px;
}
#_vcon {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  border: 3px solid #333;
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: scale(0.3, 0.3);
      -ms-transform: scale(0.3, 0.3);
          transform: scale(0.3, 0.3);
}
