{
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "never"
    ],
    "arrow-parens": 1,
    "arrow-spacing": 1,
    "constructor-super": 2,
    "generator-star-spacing": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-empty-pattern": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 0,
    "prefer-reflect": 0,
    "prefer-spread": 2,
    "prefer-template": 2,
    "require-yield": 2,
    "no-console": 0,
    "no-unused-vars": 1,
    "no-empty": 1,
    "no-unreachable": 1,
    "no-debugger": 1
  },
  "env": {
    "es6": true,
    "browser": true,
    "amd": true,
    "worker": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true
  }
}
