//----------------------
// 0. Default settings
//----------------------

*
  box-sizing border-box

html, body
  padding 0
  margin 0
  
body
  font-family "adobe-garamond-pro", Garamond, YuMincho, '游明朝', 'Hiragino Mincho ProN', serif
  font-size 12px
  letter-spacing 0.3em
  color rgba(255, 255, 255, 0.7)
  background-color #031a29

button
  background none
  border none
  outline none
  opacity 0.7
  transition opacity 0.5s
  &:hover
    opacity 1.0

a
  color rgb(255, 255, 255)
  text-decoration none
  opacity 0.7
  transition all 1.0s
  &:hover
    opacity 1.0
  &.blank
    background url(images/icon_blank.png) no-repeat 100% 50%

h2
  font-size 32px
h3
  font-size 18px


//----------------------
// 1. Common parts
//----------------------

.blur
  transition filter 1.0s
  filter blur(5px)

button.close
  position absolute
  top 50px
  right 50px

.play_buttons
  width 100%
  text-align center
  .buttons
    position relative
    width 100%
    top 20px
    text-align center
    button
      margin 0 20px
      
.mask
  position fixed
  width 100%
  height 100%
  overflow auto
  mask-image -webkit-gradient(linear, left 0, left 100%, from(rgba(0,0,0,0.1)), color-stop(0.25, rgba(0,0,0,1)), color-stop(0.75, rgba(0,0,0,1)), to(rgba(0,0,0,0.1)))

.page
  position relative
  width 940px
  margin 100px auto 100px auto

.colum2
  position relative
  width 100%
  display flex
  flex-wrap wrap
  align-items stretch
  justify-content space-between


//----------------------
// 2. Elements
//----------------------

#canvas-clip
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  overflow hidden
  
canvas#main
  transform-origin left top

#page
  position absolute
  //position fixed
  left 0
  top 0
  width 100%
  min-width 1000px
  height 100%

#loading
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  .circle
    width 400px
    height 400px
    display flex
    position relative
    align-items center
    justify-content center
  canvas
    position absolute
    width 400px
    height 400px
    left 0

#top
  display none
  position fixed
  width 100%
  height 100%
  transition filter 0.5s
  ul
    display flex
    list-style none
    justify-content space-between
    align-items flex-end
    align-content flex-start
    margin 12px 0 -3px -50px
  li
    padding 0 18px 0 10px
    border-width 1px
    border-color rgba(255, 255, 255, 0.7)
    border-left-style solid
    &:first-child
      border-left-style none
  .play_buttons
    position absolute
    bottom 22%
    // display none
  .play-shared
    display none
    position absolute
    bottom 22%
    width 100%
    text-align center

  .album-info
    position absolute
    width 382px
    height 100px
    left 50px
    bottom 50px
    .info
      position absolute
      left 118px
      bottom 0
      font-size 12px
      ul
        margin 12px 0 -3px -50px
      li
        background url(images/icon_blank.png) no-repeat 90% 50%

  .navi
    position absolute
    right 50px
    bottom 50px
    li
      span
        font-size 11px

@import 'webcam'
@import 'upload'

#about
  display none

  .concept
    text-align center
  section
    position relative
    padding 80px 0 80px 0
    &:not(:first-child)
      background url(images/h-line.png) top repeat-x
    .album_info
      position absolute
      margin 0 0 0 40px

  .colum
    width 440px
    min-height 310px
    h3
      margin 30px 0
    a
      position absolute
      bottom 0
  .credit
    width 440px
    display flex
    margin 30px 0
    .info
      display flex
      flex-direction column
      justify-content center
      align-items flex-start
      margin 0 0 0 26px
      .name
        font-size 20px
        margin 20px 0
      a
        padding 0 14px 0 0

  .navi
    position fixed
    width 100%
    top 0
    ul
      display flex
      list-style none
      justify-content center
      font-size 32px
    li
      padding 0 18px 0 10px

#howto
  display none
  .page
    margin 200px auto 200px auto
  .colum
    width 420px
    p
      margin 0
      padding 0
    img
      width 420px
      height 236px
      display block
    h4
      font-size 14px
      span
        display block
        white-space nowrap
    ul, li
      margin 0.7em
      padding 0
  .vline
    display block
    background url(images/v-line.png) 32px 0px repeat-y
    padding 10px 0 10px 88px
    &.before
      height 20px
    &.after
      height 40px
  .icon
    display flex
    justify-content flex-start
    align-items center
    height 68px
    background-repeat no-repeat
    background-size 68px 68px
    padding  0 0 0 88px
  .webcam
    background-image url(images/howto-webcam-heading.png)
  .photo
    background-image url(images/howto-photo-heading.png)
  .step1
    background-image url(images/howto-01.png)
  .step2
    background-image url(images/howto-02.png)
  .step3
    background-image url(images/howto-03.png)
  .step4
    background-image url(images/howto-04.png)
  .step5
    background-image url(images/howto-05.png)

  .navi
    position fixed
    width 100%
    top 0
    display flex
    justify-content center
    padding 50px 0 0 0
    .header
      display block


#share
  display none
  width 100%
  height 100%
  padding 50px
  .share-inner
    display flex
    flex-wrap nowrap
    justify-content space-between
    align-items flex-end
    position relative
    width 100%
    height 100%
    padding 30px
    background url(images/h-line.png) top repeat-x, url(images/h-line.png) bottom repeat-x, url(images/v-line.png) left repeat-y, url(images/v-line.png) right repeat-y
  .share-buttons
    text-align center
    > img
      margin-bottom 10px


.overlay
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  z-index 10000
  pointer-events none

.noise
  background url(images/noise.png)
  z-index 10001
  opacity 0.6




// debug

#stats
  position absolute
  left 0
  top 0
  z-index 100

#_frame-counter
  //display none // deb
  position absolute
  left 5px
  bottom 0px
  z-index 100
  font-size 30px

#_vcon
  position absolute
  right 0
  bottom 0
  z-index 100
  border 3px solid #333
  transform-origin right bottom
  transform scale(0.3, 0.3)

#_tracker-canvas
  position absolute
  left 0
  top 0
  z-index 200
  background-color #111
