// vars

min-width = 1100px

//----------------------
// 0. Default settings
//----------------------

*
  box-sizing border-box

html, body, ul, h2, h3, hr, p
  padding 0
  margin 0
  -webkit-margin-before 0
  -webkit-margin-after 0

body, pre, span, h2, h3
  font-family "adobe-garamond-pro", Garamond, YuMincho, '游明朝', 'Hiragino Mincho ProN', serif
  font-size 12px
  letter-spacing 0.2em
  color rgba(255, 255, 255, 0.7)

body
  background-color #031a29

button
  background none
  border none
  outline none
  opacity 0.7
  transition opacity 0.5s
  &:hover
    opacity 1.0

a
  color rgb(255, 255, 255)
  text-decoration none
  opacity 0.7
  transition opacity 1.0s
  &:hover
    opacity 1.0
  &.blank
    background url(images/icon_blank.png) no-repeat 100% 50%

h2
  font-size 32px
h3
  font-size 18px

hr.long
  border 0
  height 2px
  background url(images/h-line.png) repeat-x 0 0
  background-size 100% 2px
  //margin 80px 0
hr.mini
  width 14px
  margin 60px 0

//----------------------
// 1. Common parts
//----------------------

.blur
  transition filter 1.0s
  filter blur(5px)

button.close
  position absolute
  top 0
  right 50px

.play_buttons
  width 100%
  height 136px
  text-align center
  .buttons
    position relative
    width 100%
    top 20px
    text-align center
    button
      margin 0 20px
      width 100px
      height 100px
      background-size 300px 100px
      background-repeat no-repeat
      transition background-image 1.0s cubic-bezier(0.390, 0.575, 0.565, 1.000)
    button
      background-image url(images/button-play.png)
      &:hover
        background-image url(images/button-play-h.png)
    button.with-webcam
      background-position 0 0
    button.with-photo
      background-position -100px 0
    button.without-webcam
      background-position -200px 0

.mask
  position fixed
  width 100%
  height 100%
  overflow auto
  mask-image -webkit-gradient(linear, left 0, left 100%, from(rgba(0,0,0,0.1)), color-stop(0.25, rgba(0,0,0,1)), color-stop(0.75, rgba(0,0,0,1)), to(rgba(0,0,0,0.1)))

.page
  position relative
  width 940px
  margin 100px auto 100px auto

.colum2
  position relative
  width 100%
  display flex
  flex-wrap wrap
  align-items stretch
  justify-content space-between

.s14
  font-size 14px
.s16
  font-size 16px
.s20
  font-size 20px
.s24
  font-size 24px

//----------------------
// 2. Elements
//----------------------

#canvas-clip
  position absolute
  left 0
  top 0
  width 100%
  min-width min-width
  height 100%
  overflow hidden
  
canvas#main
  transform-origin left top

#page
  position absolute
  left 0
  top 0
  width 100%
  min-width min-width
  height 100%

#loading
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  .circle
    width 400px
    height 400px
    display flex
    position relative
    align-items center
    justify-content center
  canvas
    position absolute
    width 400px
    height 400px
    left 0

@import 'includes/top'

@import 'includes/webcam'
@import 'includes/upload'

@import 'includes/about'
@import 'includes/howto'
@import 'includes/share'


.overlay
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  z-index 10000
  pointer-events none

.noise
  background url(images/noise.png)
  z-index 10001
  opacity 0.6




// debug

#stats
  position absolute
  left 0
  top 0
  z-index 100

#_frame-counter
  //display none // deb
  position absolute
  left 5px
  bottom 0px
  z-index 100
  font-size 30px

#_vcon
  position absolute
  right 0
  bottom 0
  z-index 100
  border 3px solid #333
  transform-origin right bottom
  transform scale(0.3, 0.3)

#_tracker-canvas
  position absolute
  left 0
  top 0
  z-index 200
  background-color #111
