doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title KAMRA - Deja Vu - Artifitial Intelligence
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='normalize.css')
    link(rel='stylesheet', href='index.css')
  body
    script(src='libs/preloadjs-0.6.1.min.js')
    script(src='libs/clmtrackr.js')
    script(src='libs/model_pca_20_svm.js')
    script(src='libs/three.js')
    script(src='main.js')
