doctype html
html
  head
    title Hoge
    link(type='text/css', rel='stylesheet', href='aaaa.css')

  body
    p Hoge
    p moge
    p aaaaaa
    p aoeuaoeuaoeuaea
    p hhhhh
    script(src='main.js')
