#about
  display none

  .concept
    text-align center
  section
    position relative
    padding 80px 0 80px 0
    &:not(:first-child)
      background url(images/h-line.png) top repeat-x
    .album_info
      position absolute
      margin 0 0 0 40px

  .colum
    width 440px
    min-height 310px
    h3
      margin 30px 0
    a
      position absolute
      bottom 0
  .credit
    width 440px
    display flex
    margin 30px 0
    .info
      display flex
      flex-direction column
      justify-content center
      align-items flex-start
      margin 0 0 0 26px
      .name
        font-size 20px
        margin 20px 0
      a
        padding 0 14px 0 0

  .navi
    position fixed
    width 100%
    top 0
    ul
      display flex
      list-style none
      justify-content center
      font-size 32px
    li
      padding 0 18px 0 10px
