#about
  display none

  #concept
    img.i18n
      width 940px
      margin 0 0 80px 0

  section
    position relative
    padding 80px 0 80px 0
    &:not(:first-child)
      background url(images/h-line.png) top repeat-x

  ul
    display flex
    justify-content space-between
    align-items flex-end
    list-style none
  li
    a.blank
      padding 0 18px 0 0
      background url(images/icon_blank.png) no-repeat 94% 80%

  #album
    display flex
    .album_info
      position relative
      margin 0 0 0 40px
    .store_link
      position absolute
      width 500px
      bottom 0
      span
        position absolute
        bottom 0
      ul
        position absolute
        width 410px
        right 0
        bottom -2px
      a
        background-position 98% 60%
        background-size 10px 8px
        padding-right 22px

  #kamra
    .info
      position absolute
      left 250px
      top 146px
      ul
        width 238px
        margin-top 22px
      a
        background-position 98% 60%
        background-size 10px 8px
        padding-right 22px
    p
      margin-top 40px
      line-height 2.28
    p.about_kamra
      margin-top 60px
      line-height 2.28

  .colum
    width 440px
    margin-bottom 50px
    a
      position absolute
      bottom 0
  .credit
    width 440px
    display flex
    margin 0 0 60px 0
    a.play
      position relative
      width 140px
      height 140px
      opacity 1.0
      .photo
        opacity 0.5
        transition opacity 0.5s
      &:hover
        .photo
          opacity 1.0
      img
        position absolute
        width 140px
        height 140px
    hr.mini
      margin 0
    .info
      display flex
      flex-direction column
      justify-content center
      align-items flex-start
      margin 0 0 0 26px
      line-height 1
      .part
        margin-bottom 20px
      hr.mini
        margin 20px 0
      a.blank
        padding 0 10px 0 0
  .navi
    position fixed
    width 100%
    top 0
    line-height 1
    margin-top 50px
    a
      opacity 0.4
      &:hover
        opacity 1.0
    a.selected
      opacity 1.0
    ul
      display flex
      list-style none
      justify-content center
      font-size 32px
      letter-spacing 0.2em
    li
      padding 0 18px 0 10px
    li.concept
      margin-bottom -8px

