button.button-top
  background-image url(images/button-top.png)
  &:hover
    background-image url(images/button-top-h.png)

button.button-twitter
  background-image url(images/button-twitter.png)
  &:hover
    background-image url(images/button-twitter-h.png)

button.button-facebook
  background-image url(images/button-facebook.png)
  &:hover
    background-image url(images/button-facebook-h.png)

button.button-replay
  background-image url(images/button-replay.png)
  &:hover
    background-image url(images/button-replay-h.png)