.play_buttons
  img(src='images/top-play-label.png')
  .buttons
    button.with-webcam
      img(src='images/button-play-webcam.png')
    button.with-photo
      img(src='images/button-play-photo.png')
    button.without-webcam
      img(src='images/button-play-sample.png')