#share
  .share-inner
    button.button-top
      img(src='images/button-top.png')
    .share-buttons
      img(src='images/share-this.png')
      div
        button.button-twitter
          img(src='images/button-twitter.png')
        button.button-facebook
          img(src='images/button-facebook.png')
    button.button-replay
      img(src='images/button-replay.png')
