#share
  display none
  width 100%
  height 100%
  padding 50px
  .share-inner
    display flex
    flex-wrap nowrap
    justify-content space-between
    align-items flex-end
    position relative
    width 100%
    height 100%
    padding 30px
    background url(images/h-line.png) top repeat-x, url(images/h-line.png) bottom repeat-x, url(images/v-line.png) left repeat-y, url(images/v-line.png) right repeat-y
  .share-buttons
    text-align center
    > img
      margin-bottom 10px
