#share
  .share-inner
    button.button-top.size-m
    .share-buttons
      img(src='images/share-this.png')
      div
        button.button-twitter.size-m
        button.button-facebook.size-m
    button.button-replay.size-m
