#top
  .album-info
    image(src='images/album-jacket.png')
    .info
      | KAMRA - Artificial Emotions
      ul
        li
          a.link_itunes(href='#{link.itunes}', target='_blank') iTunes
        li |
        li
          a.link_amazon(href='#{link.amazon}', target='_blank') Amazon
        li |
        li
          a.link_cdbaby(href='#{link.cdbaby}', target='_blank') CD Baby
  .navi
    ul
      li
        a.nav_home(href='#') Home
      li |
      li
        a.nav_about(href='#about') About
      li |
      li
        a.nav_howto(href='#howto') How to play
      li |
      li
        | Share :
        a.button_twitter(title='Twitter', href='#')
          img(src='images/button-top-twitter.png')
        a.button_facebook(title='Facebook', href='#')
          img(src='images/button-top-facebook.png')
      li |
      li
        span © KAMRA2015
  .top_button
    include ./play_buttons.jade
    div
      a.link_disclaimer(href='#disclaimer', data-i18n='disclaimer.toplnk') #{disclaimer.toplnk}