#top
  display none
  position absolute
  width 100%
  min-width min-width
  height 100%
  transition filter 1.0s
  ul
    display flex
    list-style none
    justify-content space-between
    align-items flex-end
    align-content flex-start
  li.line
    width 1px
    height 9px
    background-color #FFF
    opacity 0.7
    font-size 0
    margin-bottom 2px

  .top_button
    position absolute
    width 100%
    bottom 20%
    text-align center
    font-size 10px
    .play_buttons
      margin-bottom 20px

  .play-shared
    display none
    position absolute
    bottom 22%
    width 100%
    text-align center

  .album-info
    position absolute
    width 382px
    height 100px
    left 50px
    bottom 50px
    .info
      position absolute
      left 118px
      bottom 0
      width 264px
      font-size 12px
      line-height 1
      ul
        margin-top 20px
      li
        a
          padding 0 18px 0 0
          background url(images/icon_blank.png) no-repeat 94% 50%

  .navi
    position absolute
    right 50px
    bottom 50px
    width 530px
    line-height 1
    align-items flex-end

    li
      span
        font-size 11px
    li.share
      margin-right -10px
      img
        font-size 0
        margin-bottom -2px