#webcam-step1
  .attention
    img(src='images/up-arrow.png', width=16)
    span.s16(data-i18n='tutorial.webcamtext') リクエストを許可して下さい
    img(src='images/up-arrow.png', width=16)
  .please-permit
    img.i18n(src='images/webcam-1-ja.png', width=400, height=400, data-i18n='tutorial.webcam1img')

#webcam-step2
  img.i18n(src='images/webcam-2-ja.png', width=2160/2, data-i18n='tutorial.webcam2img')
  button.skip
    img(src='images/next.png', width=154/2)
