#webcam-step1
  .attention
    img(src='images/up-arrow.png', width=16)
    span リクエストを許可して下さい
    img(src='images/up-arrow.png', width=16)
  .please-permit
    img(src='images/webcam-1.png', width=400, height=400)

#webcam-step2
  img(src='images/webcam-2.png', width=2160/2)
  button.skip
    img(src='images/skip.png', width=153/2)
