#webcam-step1
  position relative
  display none
  width 100%
  height 100%
  .attention
    position absolute
    width 100%
    padding 30px 30px
    background-color #0f2432
    display flex
    align-items center
    justify-content space-between
    img
      margin 0 20px
  .please-permit
    top 0
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center

#webcam-step2
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  // display flex
  display none
  flex-direction column
  align-items center
  justify-content center
  .skip
    margin-top 60px
