
*
  box-sizing border-box

html, body
  width 100%
  height 100%
  margin 0
  padding 0
  font-family 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', sans-serif
  color rgba(150, 150, 150, 1)
  overflow-x hidden

a
  display block
  text-decoration none
